{% extends 'base.html.twig' %}

{% block title %}List of Products{% endblock %}

{% block body %}

    <h1>Products</h1>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Summary</th>
            <th>Image</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for beer in beer %}
            <tr>
                <td>{{ beer.id }}</td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.summary }}</td>
                <td><img src="/images/{{ beer.image }}.jpeg" alt="{{ beer.name }}" width="70" height="150" /></td>
                <td>{{ beer.description }}</td>
                <td>{{ beer.ingredients }}</td>
                <td>{{ beer.price }}</td>
                <td>
                    <a href="{{ path('beer_show', {'id': beer.id}) }}">Show</a>
            {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('beer_edit', {'id': beer.id}) }}">Edit</a>
            {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="5">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('beer_new') }}">Craft New Beer</a>
    {% endif %}

{% endblock %}