{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beer LIST page</h1>

    <a href="{{ path('beer_new') }}">
        create NEW beer
    </a>
    <hr>
    {# -------------------------------------- #}

    <<ul>
    {% for beer in beers %}
        <li
                {% if highlightId is defined %}
                    {% if beer.id == highlightId %}
                        class="highlight"
                    {% endif %}
                {% endif %}
        >
            id = {{ beer.id }}
            <br>
            name = {{ beer.Title }}
            <br>
            <a href="{{ url('beer_show', {id : beer.id} ) }}">(details)</a>
            <br>
            <a href="{{ url('beer_delete', {id : beer.id} ) }}">(DELETE)</a>

        </li>
    {% endfor %}
</ul>
{% endblock %}